fastapi==0.116.2
uvicorn==0.35.0
python-multipart==0.0.20
opencv-python==4.12.0.88
numpy==2.3.3
astropy==7.1.0
rawpy==0.25.1
pillow==11.3.0
jinja2==3.1.2
aiofiles==23.2.1
exifread==3.0.0
scikit-learn==1.4.2
scipy==1.13.1
photutils==1.12.0
